/*--Формы в модалке--*/

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 40px 40px;
}

.form-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #212121;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  margin: 0;
  padding: 13px 14px 13px 43px; /*задала отступ для того, чтобы помещалась s*/
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus {
  border: 1px solid #2196f3;
}

.form-field label {
  font-size: 12px;
  line-height: 14px;

  color: #757575;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 14px;

  color: rgba(117, 117, 117, 0.5);
}

.comment {
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:hover {
  border: 1px solid #2196f3;
}

.form-field:nth-of-type(4) {
  margin-bottom: 20px;
}

.form-field:nth-of-type(5) {
  margin-bottom: 0px;

  flex-direction: unset;
  gap: 9px;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

.form-field:nth-of-type(5) label {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;

  color: #757575;
}

.form-field:nth-of-type(5) label a {
  color: #2196f3;
}

.form-field:nth-of-type(5) input {
  width: 16px;
}

/*--Кнопака--*/
.form-input-btn-submit {
  margin-top: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: var(--button-order-color);
  background-color: #2196f3;

  cursor: pointer;

  display: inline-block; /*для кнопок баттон и ссылок-кнопок - обязательно*/
  min-width: 200px;
  height: 50px;

  border-radius: 4px;
  padding: 10px 52px;
  border-width: 0px;
  border-style: none;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-btn-submit:hover,
.form-input-btn-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---------------В ФУТЕРЕ--------------*/

.footer-email {
  margin-left: auto;

  display: flex;
  flex-direction: column;
}

.footer-email-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  color: #ffffff;
  margin: 0;

  margin-bottom: 20px;
  padding: 0;
}

.footer-email-input {
  display: flex;
  gap: 12px;
}

.footer-email-input input {
  padding: 15px 16px;
  min-width: 358px;

  font-size: 16px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-input input:hover {
  border: 1px solid #2196f3;
}

/*--Кнопака--*/
.form-input-btn-email {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: var(--button-order-color);
  background-color: #2196f3;

  cursor: pointer;

  display: inline-block; /*для кнопок баттон и ссылок-кнопок - обязательно*/
  min-width: 200px;
  min-height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 13px 28px;
  border-width: 0px;
  border-style: none;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-btn-email:hover,
.form-input-btn-email:focus {
  background-color: #188ce8;
}

/*--SVG--*/

.form-field:nth-of-type(1) {
  position: relative;
}

.icon-name {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  bottom: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .icon-name,
.form-input:hover ~ .icon-name,
.icon-name:hover {
  fill: #188ce8;
}

.form-field:nth-of-type(2) {
  position: relative;
}

.icon-tel {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  bottom: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon-tel,
.form-input:hover ~ .icon-tel,
.icon-tel:hover {
  fill: #188ce8;
}

.form-field:nth-of-type(3) {
  position: relative;
}

.icon-mail {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  bottom: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon-mail,
.form-input:hover ~ .icon-mail,
.icon-mail:hover {
  fill: #188ce8;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid #2196f3;
}
